<h1>Raghu Library</h1>
<p>Raghu Library is an Rails Library Applcation</p>

<%= link_to "Create Students", new_student_path %><br/>

<%= link_to "Create Books", new_book_path %><br/>

<%= link_to "Books Management", book_managements_path %>
